*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin:10% auto;
    max-width: 50%;
}

.question{
    text-align: center;
}

.answers {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 10px;
    transition: 0.3s;
}

.answers:hover, .btn:hover {
    cursor: pointer;
    box-shadow: 4px 4px 10px #bbb;
}

.answers > .choice {
    padding: 10px;
    background-color: #BC8F8F;
}

.answers > .choice-answer {
    padding: 10px;
    background-color: #FFE4B5;
    width: 100%;
}

.btn{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #BC8F8F;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.container .h2 {
    text-align: center;
    color: #56a5eb;
}